{{ each task }}
<div class="card-name-id">
    <div class="task-id-title">
        <h3 class="task-title">Task Title Goes Here {{title}}</h3>
        <p class="task-description">Task description goes here{{{description}}}</p>
    </div>
</div>
{{ /each }}