{{!-- this is where we will be able to view selected/individual project board and render all information here --}}

<main>
    <div>
        <div class="title-wrapper">
            <h2 class="board-title"> Board Title</h2>
        </div>
        <div class="body-wrapper">
            <div class="board-body">
                <div class="task-1">
                    <p class="task-1-description">Description belongs here.</p>
                </div>
                <div class="task-2">
                    <p class="task-2-description">Description belongs here.</p>
                </div>
                <div class="task-3">
                    <p class="task-3-description">Description belongs here.</p>
                </div>
                <div class="task-4">
                    <p class="task-4-description">Description belongs here.</p>
                </div>

            </div>
        </div>

    </div>

</main>