{{!-- this is where we will be able to view selected/individual project board and render all information here --}}

<main class="columns">
    <div class="column box card-1">
        <div class="title-wrapper">
            <h2 class="block board-title"> Board Title</h2>
        </div>
        <div class="body-wrapper">
            <div class="block card-body">
                <div class="block is-red task-1">
                    <p class="task-1-description">Description belongs here.</p>
                </div>
                <div class="block is-red task-2">
                    <p class="task-2-description">Description belongs here.</p>
                </div>
                <div class="block is-red task-3">
                    <p class="task-3-description">Description belongs here.</p>
                </div>
                <div class="block is-red task-4">
                    <p class="task-4-description">Description belongs here.</p>
                </div>
            </div>
        </div>
    </div>
   <div class="column box card-2">
        <div class="title-wrapper">
            <h2 class="block board-title"> Board Title</h2>
        </div>
        <div class="body-wrapper">
            <div class="block card-body">
                <div class="block is-red task-1">
                    <p class="task-1-description">Description belongs here.</p>
                </div>
                <div class="block is-red task-2">
                    <p class="task-2-description">Description belongs here.</p>
                </div>
                <div class="block is-red task-3">
                    <p class="task-3-description">Description belongs here.</p>
                </div>
                <div class="block is-red task-4">
                    <p class="task-4-description">Description belongs here.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="column box card-3">
        <div class="title-wrapper">
            <h2 class="block board-title"> Board Title</h2>
        </div>
        <div class="body-wrapper">
            <div class="block card-body">
                <div class="block is-red task-1">
                    <p class="task-1-description">Description belongs here.</p>
                </div>
                <div class="block is-red task-2">
                    <p class="task-2-description">Description belongs here.</p>
                </div>
                <div class="block is-red task-3">
                    <p class="task-3-description">Description belongs here.</p>
                </div>
                <div class="block is-red task-4">
                    <p class="task-4-description">Description belongs here.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="column box card-4">
        <div class="title-wrapper">
            <h2 class="block board-title"> Board Title</h2>
        </div>
        <div class="body-wrapper">
            <div class="block card-body">
                <div class="block is-red task-1">
                    <p class="task-1-description">Description belongs here.</p>
                </div>
                <div class="block is-red task-2">
                    <p class="task-2-description">Description belongs here.</p>
                </div>
                <div class="block is-red task-3">
                    <p class="task-3-description">Description belongs here.</p>
                </div>
                <div class="block is-red task-4">
                    <p class="task-4-description">Description belongs here.</p>
                </div>
            </div>
        </div>
    </div>
</main>