{{!-- this is where we will be able to view selected/individual project board and render all information here --}}
{{!-- TODO: create routes exporting required information to presernt in handlebars.js --}}

<main class="columns">
    <div class="board-title-wrapper"> 
        <h2>{{board title}}</h2>
    </div>
    {{!-- iterate through each card here, based on posistion--}}
    {{{ #each card }}}

        <div class="column card-wrapper">
            <div class="title-wrapper">
                <h2 class="title">{{card title}}</h2>
            </div>

            <!-- should iterate through task's dependant on position and fk card_id -->
            <!-- repeating loop for tasks will be here -->
            
        </div> 

    {{{ /each }}}
    
</main>