{{!-- this is where we will be able to view selected/individual project board and render all information here --}}
{{!-- TODO: create routes exporting required information to presernt in handlebars.js --}}

<main class="project-board container-fluid">
    <div class="board-title-wrapper row"> 
        <h2 class="board title"></h2>
    </div>
    {{!-- iterate through each card here, based on posistion--}}
    {{!-- {{{ #each board.cardID }}} --}}
    
    <div class="cardsWrapper row align-items-start justify-content-start">
        {{#each data}}
            <div class="card-body col" id="column-id-{{id}}">
                <h2 class="card-title-{{id}} card-title">{{title}}</h2>
                <div class="task-list-{{position}}"></div>
            </div>
        {{/each}}
    </div>
</main>